html {
  background-color: #121212;
  scrollbar-color: #000;
}

div {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  padding: 1px;
}

#selected-images{
  height: 200px;
  width: 200px;
  margin: auto;
  display: block;
}

img {
  height: 100px;
  width: 100px;
  margin: auto;
  display: block;
}

.searched {
  list-style-type: none;
-moz-column-count: 4;
-moz-column-gap: 10px;
-webkit-column-count: 4;
-webkit-column-gap: 10px;
column-count: 4;
column-gap: 10px;
padding: 10px;
}

.searched-artists  {
list-style-type: none;
-moz-column-count: 4;
-moz-column-gap: 10px;
-webkit-column-count: 4;
-webkit-column-gap: 10px;
column-count: 4;
column-gap: 10px;
padding: 10px;
}

.related  {
  list-style-type: none;
-moz-column-count: 4;
-moz-column-gap: 10px;
-webkit-column-count: 4;
-webkit-column-gap: 10px;
column-count: 4;
column-gap: 10px;
padding: 10px;
}
/* #id {
    list-style-type: none;
-moz-column-count: 2;
-moz-column-gap: 10px;
-webkit-column-count: 2;
-webkit-column-gap: 10px;
column-count: 2;
column-gap: 10px;

} */
#lineupli {
  list-style-type: none;
  -moz-column-count: 2;
-moz-column-gap: 10px;
-webkit-column-count: 2;
-webkit-column-gap: 10px;
column-count: 2;
column-gap: 10px;
}

li {
padding: 10px;
background: #282828;
display:block;
}

div.div-trackname {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}
div.div-artists {
  font-weight: bold;
  color: #b3b3b3;
  font-size:11px
}

div.just-artists {
  font-weight: bold;
  color: #fff;
}

span.span-words {
  font-weight: bold;
  font-size: 11px;
  color: #b3b3b3;
}
span.stats {
  font-size: 11px;
  color: #b3b3b3;
}
img.related-images {
  width: 100px;
  display: inline;

  height: 100px;
}
.song-name{
  font-weight: bold;
  color: #fff;
  font-size: 11px;
}
.song-artist{
  font-weight: bold;
  color: #fff;
  font-size: 11px;
}